<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Tumiso Dinkoanyane</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/components.css}" />
</head>
<body>
    <div th:replace="~{fragments :: nav}"></div>
<main>
    <div class="container section">

    <h1 th:text="${about.title}"></h1>

    <div class="about-image-column">
        <div class="about-image">
            <img th:src="@{/images/under_01.png}" alt="Tumiso Dinkoanyane"  class="about-img" />
        </div>
    </div>

    <p th:each="paragraph : ${about.description}" th:text="${paragraph}"></p>
    </div>
</main>

    <div th:replace="~{fragments :: footer}"></div>

</body>
</html>