<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certification | Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/components.css}" />
</head>
<body>

<div th:replace="~{fragments :: nav}"></div>

<div class="container section">
    <h2 class="section-heading">Certifications</h2>
    <div class="card-grid">
        <div class="card" th:each="cert : ${certifications}">
            <h3 class="card-title" th:text="${cert.name}"></h3>
            <p class="card-description" th:text="${cert.issuer}"></p>
            <p class="card-description" th:text="'Issue on: ' + ${cert.issueDate}"></p>
            <p class="card-description" th:text="'Expires on: ' + ${cert.expirationDate}"></p>
            <a class="card-description" th:href="${cert.credentialUrl}" target="_blank">View Credential</a>
        </div>
    </div>
</div>

<div th:replace="~{fragments :: footer}"></div>

</body>
</html>