<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/components.css}" />
    <link rel="stylesheet" th:href="@{/css/pages/contact.css}" />
</head>
<body>

<div th:replace="~{fragments :: nav}"></div>

<main>
<div class="container section contact-grid split-grid">
    <div class="contact-intro">
        <h1 class="section-heading">Let's work Together</h1>
        <p class="section-subtitle">
            Have a project in mind, or just want to say hello? Fill out the form and I'll get back to you shortly.
        </p>
    </div>


    <p th:if="${successMessage}" th:text="${successMessage}"></p>

    <form class="contact-form"  th:action="@{/contact}" th:object="${contactMessageDto}" method="post">
        <div class="form-group">
            <label>Name:</label>
            <input type="text" th:field="*{name}" />
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

            <label>Email:</label>
            <input type="text" th:field="*{email}" />
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

            <label>Message:</label>
            <textarea th:field="*{message}"></textarea>
            <p th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></p>

            <button type="submit" class="btn btn-primary">Send Message</button>
        </div>
    </form>

</div>
</main>

<div th:replace="~{fragments :: footer}"></div>

</body>
</html>