<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills | Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/components.css}" />
</head>
<body>

<div th:replace="~{fragments :: nav}"></div>

<div class="container section">
    <h2 class="section-heading">Skills</h2>
    <ul class="skills-list">
        <li th:each="skill : ${skills}">
            <span class="skill-title" th:text="${skill.name} + ' - ' + ${skill.level} + '%'"></span>
            <div class="skill-progress">
                <div class="skill-progress-fill" th:style="'width: ' + ${skill.level} + '%;'"></div>
            </div>
        </li>
    </ul>
</div>

<div th:replace="~{fragments :: footer}"></div>


</body>
</html>